html {
  margin: 0%;
  padding: 0%;
}
body {
  margin: 0px;
  padding: 0px;
}

.imagem {
  width: 100%;
  position: absolute;
  height: 655px;
}

header,
h1 {
  position: relative;
  color: #71b4bb;
  text-align: center !important;
  margin: 1px;
  font-size: 40px;
  padding: 10px;
}
section {
  position: relative;
  background: rgb(202, 200, 200);
  border-radius: 10px;
  padding: 15px;
  width: 500px;
  margin: auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.473);
  font-size: 20px;
  text-align: center;
}
#txtn {
  border: none;
  border-radius: 4px;
}
#button {
  border: none;
  border-radius: 4px;
  padding: 3px 15px;
  background-color: #818181;
  color: #fff;
}
#button:hover {
  background-color: #794b4fb2;
  transition: 0.5s;
}
select option,
#seltab {
  position: relative;
  padding: 3px;
  text-align: center;
  border: none;
  outline: none;
  overflow: hidden;
  background-color: #d3777f;
  font-size: 20px;
}

.rodape {
  position: fixed;
  left: 0%;
  bottom: 0%;
  width: 100%;
  margin: 0%;
  padding: 2px;
  color: rgb(206, 192, 192);
  background-color: #995076;
  padding: 10px;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 400;
  font-style: italic;
  text-decoration: none;
}
